<a class="btn btn-success" [routerLink]="['/products/new']"> Add </a>
<table class="table table-striped table-borded">
    <thead>
        <tr class="table-success">
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @for (product of products; track $index) {
            <tr>
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
            </tr>
        }
    </tbody>
</table>
